/* @import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,700&family=Poppins:wght@300;400&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    @apply text-3xl font-semibold
}
h2{
    @apply text-2xl font-semibold
}
h3{
    @apply text-2xl font-medium
}
h4{
    @apply text-xl font-medium
}
h5{
    @apply text-lg font-normal
}
h6{
    @apply text-base font-normal
}
p{
    @apply text-sm font-normal text-normal
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"],textarea,select{
    @apply w-full border border-light bg-transparent my-1 py-3 px-4 rounded-xl outline-none;
}
input[type="checkbox"],input[type="radio"]{
    @apply accent-primary
}
button.primary{
    @apply bg-secondary px-4 py-3 rounded-xl hover:bg-primary text-light
}
/* font-family: "Poppins", sans-serif;
font-family: "Playfair", serif; */


/* Loader */
.ripple {
  position: relative;
  width: 60px;
  height: 60px;
}
.ripple div {
    @apply border-4 border-primary;
  position: absolute;
  border-radius: 50%;
  animation: ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ripple div:nth-child(2) {
  animation-delay: -0.75s;
}
@keyframes ripple {
  0% { top: 28px; left: 28px; width: 0; height: 0; opacity: 1; }
  100% { top: 0; left: 0; width: 56px; height: 56px; opacity: 0; }
}
.ripple {
 position: absolute;
 bottom: calc(50% - 14.25em);
 right: calc(50% - 1.25em);
}